{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block titulo %}
Resultados da Pesquisa GenericFlix
{% endblock %}

{% block content %}
<main class='bg-primary_black min-h-screen w-full'>
    <section class='bg-primary_black min-h-screen flex justify-center py-10 pt-20'>
        <div class="p-8 w-10/12 relative">

            <h2 class="text-gray-200 text-2xl font-medium">
                {% if termo_pesquisa %}
                Resultados da Busca para: "{{ termo_pesquisa }}"
                {% else %}
                Catálogo Completo (Filmes e Séries) 🍿
                {% endif %}
            </h2>

            {% if resultados %}
            <p class="text-gray-400 mb-6">
                Encontrados {{ resultados|length }} resultados.
            </p>

            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
                {% for item in resultados %}

                {% with tipo=item|get_model_name %}
                <div class="relative overflow-hidden rounded-lg cursor-pointer transform hover:scale-105 transition duration-300 shadow-xl">

                    <a href="{% if tipo == 'Serie' %}{% url 'serie:detalhesserie' item.pk %}{% else %}{% url 'filme:detalhesfilme' item.pk %}{% endif %}"
                       class="block h-full w-full">

                        <img src="{{ item.thumb.url }}"
                             class="w-full h-full object-cover aspect-video"
                             alt="{{ item.titulo }}">

                        <span class="absolute top-2 right-2 bg-red-600 text-white text-xs font-bold px-2 py-1 rounded-md z-10">
                            {% if tipo == 'Serie' %}
                                SÉRIE 📺
                            {% else %}
                                FILME 🎬
                            {% endif %}
                        </span>

                        <div class="absolute inset-0 bg-black bg-opacity-0 hover:bg-opacity-70 flex items-end opacity-0 hover:opacity-100 transition duration-300 p-4">
                            <h3 class="text-white text-lg font-bold">
                                {{ item.titulo }}
                            </h3>
                        </div>
                    </a>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
            {% else %}
            <div class="mt-8 text-center">
                <p class="text-gray-400 text-lg">
                    Desculpe, não encontramos filmes ou séries para **"{{ termo_pesquisa }}"**.
                </p>
                <p class="text-gray-500 mt-2">
                    Tente refinar sua busca.
                </p>
            </div>
            {% endif %}

        </div>
    </section>
</main>

{% endblock %}