{% extends 'base.html' %}
{% load static %}


<!--bloco do titulo-->
{% block titulo %}
DetalhesFilmes GenericFlix
{%  endblock %}

<!--Bloco de corpo-->
{% block content %}
    <div class="py-10" style="color: white">
        <h1>{{object.titulo}}</h1>
        <img src="{{object.thumb.url}}" alt="">
        <h2>Sinopse:</h2>
        <p> {{object}} </p>
        <p > {{object.descricao}} </p>
    </div>

 <!--Lista de filmes relacionados-->
    <div class="py-10">
        <h2>Relacionados: </h2>
        {% for filme in filmes_relacionados %}
            <p>
                <a href="{% url 'filme:detalhesfilme' filme.id %}">
                        {{ filme.titulo }}
                </a>
            </p>
        {% endfor%}
    </div>

{% endblock %}



