{% extends 'base.html' %}
{% load static %}


<!--bloco do titulo-->
{% block titulo %}
HomeFilmes GenericFlix
{%  endblock %}

<!--Bloco de corpo-->
{% block content %}
<div class="py-11 text-white">

    <h1>Tela de Filmes</h1>

    {%for filme in object_list %}
    <hr>
    <!--Exibir uma imagem salva do bd-->
    <img src="{{filme.thumb.url}}" alt="">
    <a href="{% url 'filme:detalhesfilme' filme.id %}"> <p> {{ filme.titulo }}</p> </a> <!--todos os titulos dos filmes terao uma função na qual todos serao direcionados para a tela de detalhes-->
    <p> {{ filme.descricao }}</p>
    {% endfor %}
</div>







{% endblock %}



