{% extends 'base.html' %}
{% load static %}


<!--bloco do titulo-->
{% block titulo %}
HomeFilmes GenericFlix
{%  endblock %}

<!--Bloco de corpo-->
{% block content %}

    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex items-end bg-cover" style="background-image: url('#');">
            <div>
                <h2 class="text-6xl font-semibold text-white my-4">

                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                </p>
                <div class="flex my-4">
                    <a href="#">
                        <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium " >
                                Play
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </section>


     <section class='bg-primary_black flex justify-center py-10'>

            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Novos:
                </h2>
                <div class="wrapper">

                  <!--Sessao 1-->
                  <section id="section1" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2" class="arrow__btn text-6xl page">‹</a>
                      {% for filme in lista_filmes_recentes  %}
                      {% if forloop.counter < 5 %}
                          <div class="relative m-4 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                              <a href="{% url 'filme:detalhesfilme' filme.id %}">
                                  <img src="{{filme.thumb.url}}" class="rounded-md w-full h-full object-cover">
                                  <div class="absolute bottom-0 left-0 w-full bg-black bg-opacity-50 text-white text-lg p-2">
                                    {{ filme.titulo }}
                                </div>
                              </a>
                          </div>
                      {% endif %}
                      {% endfor %}
                        <a href="#section2" class="arrow__btn text-6xl">›</a>
                  </section>

                      <!--Sessao 2/ se a lista 1 tiver mais que 4 itens,entao ira para a lista 2-->
                    {% if lista_filmes_recentes|length > 4 %}
                    <section id="section2" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1" class="arrow__btn text-6xl">‹</a>
                         {% for filme in lista_filmes_recentes  %}
                         {% if forloop.counter > 4 %}
                            <div class="relative m-4 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                                <a href="{% url 'filme:detalhesfilme' filme.id %}">
                                    <img src="{{filme.thumb.url}}" class="rounded-md w-full h-full object-cover">
                                <div class="absolute bottom-0 left-0 w-full bg-black bg-opacity-50 text-white text-lg p-2">
                                    {{ filme.titulo }}
                                </div>
                                </a>
                            </div>
                        {% endif %}
                        {% endfor %}
                        <a href="#section1" class="arrow__btn text-6xl">›</a>
                    </section>
                    {% endif%}

                </div>

            </div>

        </section>

    </main>








<div class="py-11 text-white">

    <h1>Tela de Filmes</h1>

    {%for filme in object_list %}
    <hr>
    <!--Exibir uma imagem salva do bd-->
    <img src="{{filme.thumb.url}}" alt="">
    <a href="{% url 'filme:detalhesfilme' filme.id %}"> <p> {{ filme.titulo }}</p> </a> <!--todos os titulos dos filmes terao uma função na qual todos serao direcionados para a tela de detalhes-->
    <p> {{ filme.descricao }}</p>
    {% endfor %}
</div>

    <div class="py-10">
        <h1>Novos Filmes:</h1>
        {{ lista_filmes_recentes }}
    </div>

   <div class="py-10">
        <h1>Filmes em Alta:</h1>
        {{ lista_filmes_emalta }}
    </div>







{% endblock %}



