{% load static %}
<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <!--Imagem-->
    <div class="w-6/12">
        <a href="/">
            <img class="w-3/12" src="{% static 'images/genericlogo.png' %}" alt="">
        </a>
    </div>

    <div class="w-6/12 flex flex-nowrap justify-end">
        <div class="mr-2">

            <form method="get" action="{% url 'pesquisa_unificada' %}">
                <input type="text"
                       class="py-1 px-2 bg-white text-black rounded-md"
                       name="q"
                       placeholder="Pesquisar...">
                <input type="submit" value="">
            </form>

        </div>

        <div class="mr-2">
            <a href="#">
                <button class="bg-red-600 text-white rounded-md py-1 px-3 " style="border-radius: 10px">Login</button>
            </a>
        </div>

        <div class="mr-2">
            <a href="#">
                <button class="bg-red-600 rounded-lg text-white py-1 px-3 " style="border-radius: 10px">Editar Perfil
                </button>
            </a>
        </div>
    </div>

</nav>